<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href="./styles/index.css">
        <script type="module" src="../controller/index.js"></script>
    </head>
    <body>
        <header class="header-navbar">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li><a href="">inicio</a></li>
                    <li><a href="">calendario</a></li>
                    <li><a href="">profesorado</a></li>
                    <li><a href="">contacto</a></li>
                </ul>
            </nav>
        </header>


        <main>
            <section class="horarios-clase">
                <h1>Horarios</h1>
                <div style="width: 100%;">
                    <select class="select-horarios" name="" id="slctCursos">
                        <option value="" selected disabled>Selecciona un curso</option>
                    </select>
                </div>
                <br>
                <div id="horario-content-dinamico">
                    <table>
                        <tr>
                            <th></th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tr>
                    </table>
                </div>
                
            </section>
            
            <section>

            </section>
            
            <section>

            </section>
        </main>
    </body>
</html>